# Docker compose for development, to spin up agency + indy ledger + postgres wallets db within this repo
# Note ensure the following env params are set
# WALLET_DB_HOST=wallets-db
version: '3.5'

networks:
    agency-network:
      name: agency-network
      driver: bridge
      ipam:
        driver: default
        config:
          -
            subnet: 10.0.0.0/24

services:
      # indy pool needs a static ip configured in the pool_transactions_genesis so need to start it first
  indy-pool:
    build:
      context: .
      dockerfile: docker/indy-pool.dockerfile
      args:
        pool_ip: '10.0.0.2'
    image: indy-pool
    container_name: indy-pool
    working_dir: /home/indy
    ports:
      - "9701:9701"
      - "9702:9702"
      - "9703:9703"
      - "9704:9704"
      - "9705:9705"
      - "9706:9706"
      - "9707:9707"
      - "9708:9708"
    networks:
      agency-network:
        ipv4_address: 10.0.0.2

  wallets-db:
    image: postgres:11
    container_name: wallets-db
    command: postgres -c listen_addresses='*'
    env_file:
      - .env
    volumes:
      - ./resources/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - agency-network
    depends_on:
      - indy-pool
    tty: true

  aries-guardianship-agency:
    build:
      context: ./
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    command: npm run start:debug
    image: aries-guardianship-agency
    container_name: aries-guardianship-agency
    working_dir: /www
    ports:
      - "3010:3010"
    expose: 
      - "3010"
    volumes:
      - ./:/www
      - /var/run/docker.sock:/var/run/docker.sock
      # For dev purposes this simulates npm-link, since symbolic links on the mac won't work in the docker container
      # - ../aries-controller/dist:/www/node_modules/aries-controller
    networks:
      - agency-network
    depends_on:
      - indy-pool
    tty: true
    privileged: true # Need privileged to access docker.sock in latest Mac Docker

  tails-server:
    image: kivaprotocol/tails-server:latest
    container_name: tails-server
    ports:
      - 6543:6543
    networks:
      - agency-network
    depends_on:
      - indy-pool
    env_file:
      - .env
    command: >
      tails-server
        --host 0.0.0.0
        --port 6543
        --storage-path /tmp/tails-files
        --log-level INFO

  # Adding redis here for testing, not needed on docker-compose.ci.yml
  redis:
    image: redis
    container_name: redis
    networks:
      - agency-network
    depends_on:
      - indy-pool

  multitenant:
    image: bcgovimages/aries-cloudagent:py36-1.15-1_0.6.0
    container_name: multitenant
    networks:
      - agency-network
    depends_on:
      - indy-pool
      - wallets-db
    ports:
      - "3020:3020"
      - "3021:3021"
    expose: 
      - "3020"
      - "3021"
    volumes:
      - ./resources/:/home/indy/resources
    command: start
        --inbound-transport http '0.0.0.0' 3020
        --outbound-transport http
        --endpoint http://multitenant:3020
        --wallet-type 'indy'
        --wallet-name 'multitenant'
        --wallet-key '${MULTITENANT_WALLET_KEY}'
        --wallet-storage-type 'postgres_storage'
        --wallet-storage-config '{"url":"${WALLET_DB_HOST}:${WALLET_DB_PORT}","wallet_scheme":"MultiWalletSingleTable"}'
        --wallet-storage-creds '{"account":"${WALLET_DB_USER}","password":"${WALLET_DB_PASS}","admin_account":"${WALLET_DB_ADMIN_USER}","admin_password":"${WALLET_DB_ADMIN_PASS}"}'
        --seed '000000000000000000000000Steward1'
        --admin '0.0.0.0' 3021
        --admin-api-key '${MULTITENANT_API_KEY}'
        --label multitenant
        --webhook-url http://aries-guardianship-agency:3010/v1/controller/multitenant
        --log-level debug
        --wallet-local-did
        --auto-provision
        --multitenant
        --multitenant-admin
        --jwt-secret ${MULTITENANT_JWT_SECRET}
        --genesis-file '/home/indy/resources/pool_transactions_genesis_local_dev'
